<div class="relative border border-input/30 rounded-lg p-3 -m-3">
  <div
    class="absolute -top-px left-20 right-11 h-px bg-gradient-to-r from-blue-300/0 via-blue-300/70 to-blue-300/0"
  >
  </div>
  <div
    class="absolute -bottom-px left-20 right-11 h-px bg-gradient-to-r from-blue-300/0 via-blue-300/70 to-blue-300/0"
  >
  </div>

  <slot />
</div>
