:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 13.3%;

  --accent: 213 48.2% 38.6%;
  --accent-foreground: var(--background);

  --input: 216 12.2% 83.9%;

  --ring: var(--accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 13.3%;
    --foreground: 0 0% 100%;

    --accent: 214 100% 86.1%;
    --accent-foreground: var(--background);

    --input: 0 0% 45.1%;
  }
}

body {
  @apply min-w-screen min-h-screen;
  @apply bg-background text-foreground;
  @apply font-sans antialiased;

  &,
  & * {
    @apply transition-property-colors transition-duration-150 transition-ease-in-out;
  }
}

* {
  @apply border-border;

  &:focus {
    @apply focus-visible-(outline-none ring-focus);
  }
}

a {
  @apply text-accent relative;
  @apply hover:after:border-accent;

  &::after {
    @apply content-[""] h-1;
    @apply absolute left-0 right-0 -bottom-px;
    @apply border border-transparent border-b-accent;
  }
}
