:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 13.3%;

  --muted: 0 0% 92%;
  --muted-foreground: 0 0% 50%;

  --accent: 273 100% 50%;
  --accent-foreground: var(--background);

  --border: var(--muted);

  --ring: var(--accent);

  --radius: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 13.3%;
    --foreground: 0 0% 100%;

    --muted: 0 0% 8%;

    --accent-foreground: var(--foreground);
  }
}

body {
  @apply min-w-screen min-h-screen;
  @apply bg-background text-foreground;
  @apply font-sans antialiased;

  &,
  & * {
    @apply transition-property-colors transition-duration-150 transition-ease-in-out;
  }
}

* {
  @apply border-border;

  &:focus {
    @apply focus-(outline-none ring-2 ring-ring ring-offset-2 ring-offset-background);
  }
}
