---
import Shell from "~/layouts/Shell.astro";
---

<Shell title="Page not found" isCenteredLayout>
  <div class="text-center space-y-2">
    <h1 class="text-[10vw] font-bold leading-none">404</h1>

    <div class="sm:text-xl">
      <p>Page not found.</p>
      <p>It happens to the best of us.</p>
    </div>
  </div>
</Shell>
