---
import { getCollection } from "astro:content";

import Shell from "~/layouts/Shell.astro";

import SubscriptionForm from "~/components/SubscriptionForm.astro";

import { sample } from "~/lib/utils";

const headings = [
  "Discover the power of Solid.js: Weekly insights, tips, and community highlights delivered straight to your inbox.",
  "Elevate your web development: Fresh Solid.js content every week to keep you on the cutting edge.",
  "Solid.js simplified: Your weekly dose of tutorials, best practices, and ecosystem updates.",
  "Build better with Solid.js: Curated resources and expert advice, delivered every week.",
  "Solidify your skills: A weekly roundup of Solid.js news, code snippets, and community projects.",
  "Tune into Solid Signal: Your weekly broadcast of Solid.js news, tutorials, and community highlights.",
  "Boost your Solid.js reception with Solid Signal: Clear, concise updates delivered every week.",
  "Solid Signal: Amplifying the best of Solid.js development, straight to your inbox every week.",
  "Stay on the same wavelength as Solid.js experts with Solid Signal: Your weekly transmission of tips, tricks, and trends.",
  "Solid Signal: Cutting through the noise with focused Solid.js content, broadcasting weekly.",
];

const [latestIssue] = (await getCollection("issues")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<Shell isCenteredLayout>
  <div class="flex flex-col items-center gap-8 max-w-[65ch] text-center">
    <img
      alt="Solid Signal Newsletter Logo"
      src="/logo-mark.svg"
      class="inline-block w-[140px] md:w-[200px]"
    />

    <h3 class="text-lg md:text-2xl font-semibold">{sample(headings)}</h3>

    <div class="flex flex-col gap-2">
      <SubscriptionForm />

      <p>Check out the <a href={`/issues/${latestIssue.id}`}>latest issue</a>.</p>
    </div>
  </div>
</Shell>
