---
import { getCollection } from "astro:content";

import Shell from "~/layouts/Shell.astro";

import FormattedDate from "~/components/FormattedDate.astro";

const issues = (await getCollection("issues")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<Shell title="Archives">
  <div class="max-w-screen-sm mx-auto">
    <ul>
      {
        issues.map((issue) => (
          <li>
            <a href={`/issues/${issue.id}`} class="inline-block">
              Solid Signal Issue #{issue.id.replace(/\.mdx?/, "").padStart(3, "0")}
            </a>{" "}
            — <FormattedDate date={issue.data.publishDate} />
          </li>
        ))
      }
    </ul>
  </div>
</Shell>
