<form class="space-x-1 border border-input rounded-lg p-1 focus-within:ring-focus">
  <input
    type="email"
    name="email"
    placeholder="Email address"
    class="bg-transparent py-2 px-4 !focus:ring-0"
    required
  />
  <button
    type="submit"
    class="bg-accent text-accent-foreground font-medium py-2 px-4 rounded-md disabled:opacity-50"
    >Register</button
  >
</form>
