---
type Props = { placeholder?: string };

const { placeholder = "Your email address" } = Astro.props;
---

<form
  class="flex bg-background border border-input rounded-lg p-1 focus-within:ring-focus"
>
  <input
    type="email"
    name="email"
    placeholder={placeholder}
    class="bg-transparent grow-1 py-2 px-4 !focus:ring-0"
    required
  /><button
    type="submit"
    class="bg-accent text-accent-foreground font-medium py-2 px-4 rounded-md disabled:opacity-50"
    >Subscribe</button
  >
</form>
